<div class="attach ">
    <ul class="popup">
        <li><img src="../../assets/img/image.svg" alt="photo"><span>Фото или Видео</span></li>
        <li><img src="../../assets/img/file.svg" alt="file">Файл</li>
        <li><img src="../../assets/img/location.svg" alt="location">Локация</li>
    </ul>
</div>
