<div class="attach ">
    <ul class="popup">
        <li><img src="../../assets/img/image.svg"><span>Фото или Видео</span></li>
        <li><img src="../../assets/img/file.svg">Файл</li>
        <li><img src="../../assets/img/location.svg">Локация</li>
    </ul>
</div>