<main class="content">
    <div class="content__date">19 июня</div>
    <div class="content__message message message__companion">
        <p>Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.</p>
        <p>Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.</p>
        <div class="message__time">11:56</div>
    </div>
     <div class="content__message message message__companion message__img">
        <img src="../../assets/img/photo.png" alt="photo">
        <time class="message__time">11:56</time>
    </div>   
    <div class="content__message message message__user">
        <p>Круто!</p>
        <time class="message__time">
            <div class="message__status">
                <img src="../../assets/img/status_read.svg" alt="status_read">
            </div>
            12:00
        </time>
    </div>
</main>
