---
stylesheets: 
- ../../style.pcss
---

{{!< desktop}}

<div class="flexbox pageError">
    <h1>500</h1>
    <p>Мы уже фиксим</p>
    <a href="../chat/chat.hbs" class="pageError__link">Назад, к чатам</a>
</div>