.chat-header-menu {
    right: 10px;
    top: 50.5px;
    li {
        list-style-type: none;
        display: flex;
        align-items: center;
       &:not(:last-child) {
            margin-bottom: 16px;
       }

        img {
            margin-right: 15px;
        }
    }
}