<ul class="chat-header-menu popup">
    <li><img src="../../assets/img/plus.svg" alt="plus">Добавить пользователя</li>
    <li><img src="../../assets/img/cross.svg" alt="cross">Удалить пользователя</li>
</ul>
