/* colors */

$white: #ffffff;

$light-gray: #FBFBFB;
$smoky-gray: #EAEAEA;
$base-gray: #999999;
$dark-gray: #1E1E1E;
$smoky-white-V1: #F5F5F5;
$smoky-white-V2: #F8F8F8;
$smoky-white-dark: #EFEFEF;

$light-blue: #E4EDFD;
$blue-base: #3369F3;
$blue-alice: #E4EDFD;

$red: #FF0000;
