<div class="room {{class}}">
    <div class="room__avatar"></div>
    <div class="room__info">
        <p class="room__name">Андрей</p>
        <p class="room__last-message">
            <span class="room__sender-you">Вы:</span>
            Изображение
        </p>
    </div>
    <time class="room__time">10:29</time>
    <div class="room__count-unread">2</div>
</div>
