.user__info {
    margin: 60px 0;
    width: 510px;
}
.form {
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $smoky-gray;
        padding: 10px 0;
        font-size: 13px;
        
        input {
            text-align: end;
            border: none;
            font-size: 13px;
            color: $base-gray;
        }
    }
}