<form class="user__info form" action="#">
    <div class="form__row">
        <label for="email">Почта</label>
        <input type="email" name="email" id="email" value="pochta@yandex.ru"/>
    </div>
    <div class="form__row">
        <label for="login">Логин</label> 
        <input type="text" name="login" id="login" value="ivanivanov"/>
    </div>
    <div class="form__row">
        <label for="fname">Имя</label>
        <input type="text" name="FirstName" id="fname" value="Иван"/>
    </div>
    <div class="form__row">
        <label for="lname">Фамилия</label> 
        <input type="text" name="LastName" id="lname" value="Иванов"/>
    </div>
    <div class="form__row">
        <label for="cname">Имя в чате</label>
        <input type="text" name="NameChat" id="cname" value="Иван"/>
    </div>
    <div class="form__row">
        <label for="phone">Телефон</label>
        <input type="tel" name="phone" id="phone" value="+7 (909) 967 30 30"/>
    </div>
</form>