<ul>
    {{!-- <li><a href="./main.hbs">Main </a></li> --}}
    <li><a href="./profile/profile.hbs">Profile</a></li>
    <li><a href="./profileEditData/profileEditData.hbs">Edit profile</a></li>
    <li><a href="./profileEditPassword/profileEditPassword.hbs">Edit Password</a></li>
    <li><a href="./chat/chat.hbs">Chat</a></li>
    <li><a href="./chatEmpty/chatEmpty.hbs">Chat not selected</a></li>
    <li><a href="./signUp/signUp.hbs">Sign up</a></li>
    <li><a href="./login/login.hbs">Login</a></li>
    <li><a href="./404/404.hbs">404</a></li>
    <li><a href="./500/500.hbs">500</a></li>
    
</ul>