<div class="rooms">
    {{> "room/room"}}
    {{> "room/room"}}
    {{> "room/room" class='room__choosed'}}
    {{> "room/room"}}
    {{> "room/room"}}

</div>
<div class="chat">
    {{> "room/room"}}
</div>