.user {
    &__avatar {
        width: 130px;
        height: 130px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $smoky-white-dark;
        margin-bottom: 21px;
    }
}
