<footer class="bottom">
    <div class="bottom__attach">
        {{> "attach/attach"}}
        <img src="../../assets/img/clip.svg" alt="clip">
    </div>
    <div class="bottom__enter">
        <form name="bottom__form"> 
            <input type="text" name="message" class="input bottom__message" placeholder="Сообщение">
            <button type="submit" form="bottom__form" class="bottom__send"  value="Submit"></button>
        </form>
    </div>
</footer>
