<form class="user__info form" action="#">
    <div class="form__row">
        <label for="fname">Старый пароль</label>
        <input type="password" name="password" id="pass" minlength="8" required/>
    </div>
    <div class="form__row">
        <label for="lname">Новый пароль</label> 
        <input type="password" name="passwordNew" id="passNew" minlength="8" required/>
    </div>
    <div class="form__row">
        <label for="fname">Повторите новый пароль</label>
        <input type="password" name="passNewRepeat" id="passNewRep" minlength="8" required/>
    </div>
</form>