<form class="user__info form" action="#">
    <div class="form__row">
        <label for="oldPassword">Старый пароль</label>
        <input type="password" name="oldPassword" id="oldPassword" minlength="8" required/>
    </div>
    <div class="form__row">
        <label for="newPassword">Новый пароль</label> 
        <input type="password" name="newPassword" id="newPassword" minlength="8" required/>
    </div>
    <div class="form__row">
        <label for="confirmPassword">Повторите новый пароль</label>
        <input type="password" name="confirmPassword" id="confirmPassword" minlength="8" required/>
    </div>
</form>
