<header class="chat-header">
    <div class="chat-header__avatar"></div>
    <div class="chat-header__name">Андрей</div>
    <div class="chat-header__menu">
        {{> "chatHeaderMenu/chatHeaderMenu"}}
    </div>
</header>