<header class="chat-header">
    <div class="chat-header__avatar"></div>
    <p class="chat-header__name">Андрей</p>
    <div class="chat-header__menu">
        {{> "chatHeaderMenu/chatHeaderMenu"}}
    </div>
</header>
