.pageError {
    flex: 1;
    flex-direction: column;

    p {
        font-size: 20px;
        margin: 0;
    }
    &__link {
        font-size: 11px;
        color: $blue-base;
        text-decoration: none;
        margin-top: 70px;
    }
}
