---
stylesheets: 
- ../../style.pcss
---

{{!< desktop}}

<div class="flexbox pageError">
    <h1>404</h1>
    <p>Не туда попали</p>
    <a href="../chat/chat.hbs" class="pageError__link">Назад, к чатам</a>
</div>
