<ul class="profile-menu">
    <li class="profile-menu__item">
        Изменить данные
    </li>
    <li class="profile-menu__item">
        Изменить пароль
    </li>
    <li class="profile-menu__item profile-menu__exit">
        Выйти
    </li>
</ul>
