.profile-menu {
    width: 510px;
    padding: 0;
    margin: 0;
    &__item {
        color: $blue-base;
        font-size: 13px;
        list-style-type: none;
        padding: 10px 0;
    }
    &__item:not(:last-child) {
        border-bottom: 1px solid $smoky-gray;
    }
    &__exit {
        color: $red;
    }
}
