---
username: 'Иван'
stylesheets: 
- ../../style.pcss
emptyimg: 
- ../../assets/img/empty.png
---
{{!< desktop}}
{{> "buttonBack/buttonBack" }}
<div class="user">
    {{> "userAvatar/userAvatar" }}
  {{> "editPassrword/editPassrword" }}
  {{> "button/button" label='Сохранить'}}
</div>
